

body {
  color: #222;
  font-size: 12px;
  font-family: "Lato Light", "Avenir Light", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 60px
}

h3 {
  font-family: "Bebas Neue"
}
nav {
  border: 2px dotted #426D8F;
  padding: 10px;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a:hover {
  background-color: #ddd;
}

p {
  padding: 20px 40px 20px 40px;
  margin: 10px;
  font-size: 12px;
}

li{
  color: rgb(99,58,115);
  list-style-type: square;
}

#container {
  max-width: 960px;
  margin: 0 auto;
}

#introduction {
  grid-column-start: 1;
  grid-column-end: -1;
}

#geography {
  grid-column: 1 / span 1;
}

#government {
grid-column: 2 / span 1;
}

#communications {
grid-column: 3 / span 1;
}

#introduction h2 {
  background-color: #DB584F;
  color: #ddd;
  padding: 5px;
  grid-template-rows: 100px 100px;
  font-size: 16px;
}

#geography h2 {
  background-color: #DB584F;
  color: #ddd;
  padding: 5px;
  font-size: 16px;
}

#geography h3 p {
  margin: 5px;
}

#government h2 {
  background-color: #DB584F;
  color: #ddd;
  padding: 5px;
  font-size: 16px;
}

#government h3 p {
  margin: 5px;
}

#communications h2 {
  background-color: #DB584F;
  color: #ddd;
  padding: 5px;
  font-size: 16px;
}

#communications h3 p {
  margin: 5px;
}

figcaption a:hover {
  background-color: #ddd;
}

footer a:hover {
  background-color: #ddd;
}
